.header {
    color: red;

    justify-content: space-around;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

}

.nav {
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.links a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 20px;

}

.body {
    padding-left: 20px;
   }
.hero {
       width: auto;
    background-image: url(/img/Hero_home.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 720px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: darkgreen;
}
.carrossel {
    position: relative;
    max-width: 800px; /* Ajuste conforme necessário */
    margin: auto;
    overflow: hidden;
  }
  
  .carrossel-items .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; /* Certifique-se de que cada item ocupe todo o contêiner */
    margin-left: 20px;
    text-align: center;
  }
  
  .carrossel-items {
    display: flex;
  }
  
  .anterior, .proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .anterior { left: 0; }
  .proximo { right: 0; }

.footer {
    color: green;
    background-color: lightgreen;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}